[submodule "packages/digitaldefiance-ecies-lib"]
	path = packages/digitaldefiance-ecies-lib
	url = https://github.com/digital-defiance/ecies-lib
[submodule "packages/digitaldefiance-node-express-suite"]
	path = packages/digitaldefiance-node-express-suite
	url = https://github.com/digital-defiance/node-express-suite.git
[submodule "packages/digitaldefiance-i18n-lib"]
	path = packages/digitaldefiance-i18n-lib
	url = https://github.com/digital-defiance/i18n-lib.git
[submodule "packages/digitaldefiance-node-ecies-lib"]
	path = packages/digitaldefiance-node-ecies-lib
	url = https://github.com/digital-defiance/node-ecies-lib.git
[submodule "packages/digitaldefiance-suite-core-lib"]
	path = packages/digitaldefiance-suite-core-lib
	url = https://github.com/digital-defiance/suite-core-lib.git
[submodule "packages/digitaldefiance-express-suite-example"]
	path = packages/digitaldefiance-express-suite-example
	url = https://github.com/Digital-Defiance/express-suite-example.git
[submodule "packages/digitaldefiance-express-suite-test-utils"]
	path = packages/digitaldefiance-express-suite-test-utils
	url = https://github.com/Digital-Defiance/test-utils.git
[submodule "packages/digitaldefiance-express-suite-starter"]
	path = packages/digitaldefiance-express-suite-starter
	url = https://github.com/Digital-Defiance/express-suite-starter.git
[submodule "packages/digitaldefiance-express-suite-react-components"]
	path = packages/digitaldefiance-express-suite-react-components
	url = https://github.com/Digital-Defiance/react-components.git
